* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    background-color: #587AC8;
    width: 100vw;
    height: 100vh;
}

#calculator {
    border: 1px solid black;
    width: 25%;
    margin: 3% auto 0 auto;
    padding-top: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#display, #upperScreen{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 8px;
    font-size: 25px;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    cursor: default;
    text-align: right;
}

#upperScreen{
    padding:20px 8px 0 8px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: transparent;
    color: #587AC8;
    resize: none;
    overflow-y: hidden;
    height: auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.w-25 > button{
    height: 100%;
}

#clear, #zero {
    flex: 210%
}

button {
    width: 100%;
    border-radius: 0;
    padding: 8% 1%;
    background-color: #050c11;
    color: white;
    border: black solid 1px;
    font-size: 25px;
}

button:hover {
    background-color: #09151e;
}

.operator {
    background-color: #142A5C;
}

.operator:hover {
    background-color: #1a3472;
}

.equalBtn {
    background-color: #1d3f87;
}

.equalBtn:hover {
    background-color: #22438b;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    color: bisque;
    line-height: 25px;
}


@media only screen and (max-device-width: 500px) {
    #calculator {
        width: 70%;
    }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 767px) {
    #calculator {
        width: 60%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #calculator {
        width: 40%;
    }
}